*{
    padding: 0;
    margin:0;
    color: white;
    text-transform: capitalize;
}

#navbar{
    background-color: #0f1111;
    height: 60px;
}
button{
    background-color: #f08804;
}
#logo{
    text-transform: lowercase;
    color: #f08804;  
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}